*{
    margin:0;
    padding:0;
}

a{
    color:inherit;
    text-decoration: none;
}

body{
    /*min-width:1200px;*/
    min-width:100%;
    overflow-x:hidden;
    background-color:#282828;
    color:white;
    
}

.btn-reset{
    padding:0;
    border:none;
    background-color:transparent;
    cursor:pointer;
}

.hero-container{
    max-height:100px;
    padding: 0 15px;
    margin: 0 auto;
}

.content{
    justify-content:space-between;
}

.flex{
    display:flex;
}

.footer{
    justify-content:center;
    background-color:black;
}

html{
    box-sizing: border-box;
    scrollbar-color:black #ff5b40;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    height:80px;
    background: black;
    box-shadow: 0 0 20px black;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.header__nav {
    display:flex;
    /* position: absolute; */
    right: 36px;
    /* display: block; */
    align-items: center;
    padding-top:10px;
}
.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo{
    margin-right: auto;
    padding-top:10px;
    
}

.menu-burger__header{
    display:none;
}

.menu__item{
    font-size:24px;
    padding:5px;
    transition: color 1s ease;
}

.menu__item:hover
{
    color:#ff5b40;   
}

.hero{
    padding:35px 0;
    font-size:30px;
}


.hero-btn{
    margin-bottom:14px;
    margin-left:160px;
    background-color: #ff5b40;
    box-shadow:0 0 30px black;
    transition: 1s ease;
    border-radius:8px;
    min-width:150px;
    min-height:40px;
    font-size:100%
}

.hero-btn:hover{
    color:white;
    background-color:black;
    border:2px groove #ff5b40;
    
}

.list-reset{
    margin:0;
    padding:0;
    list-style:none;
}

.span-style{
    color:#ff5b40;
}

::-webkit-scrollbar {
    width: 20px; /* ширина для вертикального скролла */
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color:#282828;
    border:2px solid #ff5b40;
    border-radius: 8px;
}

.content-title{
    font-size:35px;
    justify-content:center;
    text-align:center;
    margin-bottom:15px;

}

.service-info{
    margin-bottom:50px;
}

.content-container{
    text-align:center;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}

.content-text{
    max-width:100%;
    margin-bottom:30px;
    font-size:30px;
}

.form-block{
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.serviceImg{
    max-width:100%;
    margin-bottom:50px;
    border:2px solid inherit;
    border-radius:10px;
    box-shadow:0 0 20px black;
}

.form-container{
    padding:5px 10px;
    max-height:800px;
    max-width:600px;
    border:2px solid #ff5b40;
    border-radius: 10px;
    box-shadow:0 0 20px black;
}

.form-container div{
    flex-direction: column;
    margin-bottom:10px;
    text-align:center;
    justify-content: center;
}

.form-container input{
    display: block;
    margin: center;
    border: 1px solid #ff5b40;
    background-color: black;
    color:#fff;
    border-radius: 20px;
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
}

.form-container button{
    background-color: #ff5b40;
    box-shadow:0 0 30px black;
    transition: 1s ease;
    border-radius:10px;
    min-width:150px;
    min-height:40px;
    margin-left:145px;
    margin-top:30px;
    margin-bottom:10px;
    font-size:20px;
    font-family: 'Roboto Condensed', 'sans-serif';
    
}

.form-container button:hover{
    color:white;
    background-color:black;
    border:2px groove #ff5b40;
}

.main-content{
    padding:5px 20px;
}

@media (max-width:980px){
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: white;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 21px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }

    header {
        height: 60px;
    }

    .header__nav {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        background: black;
        box-shadow: #ccc;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
    }

    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    .header__menu {
        display: block;
    }
    .header__menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }

    .header__nav.open-menu {
        left: 0;
    }

    .content-text{
        text-align:justify;
        font-size:20px;
    }

    .form-container{
        max-width:300px;
    }

    .form-container input{
        max-width:300px;
    }

    .form-container button{
        margin-left:80px;
    }
    .header-logo{
        display:none;
    }
}